// Variables
@import 'variables';

// Tailwind CSS
@import "../../node_modules/tailwindcss/tailwind.css";
@import "../css/font.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
