// Variables
@import 'variables';

// Tailwind CSS
@import "../../node_modules/tailwindcss/tailwind.css";
@import "../css/font.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body.closed{
  overflow: hidden;
}

.toasted > svg:first-child {
  margin-right: .7rem;
}

a.dynamic {
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2f855a;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: $thetransition;
    transition: $thetransition;
  }

  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.animation-enable {
  -webkit-transition: $thetransition-1s;
  transition: $thetransition-1s;
}

.animation-enable-short {
  -webkit-transition: $thetransition-short;
  transition: $thetransition-short;
}

.animation-enable-medium {
  -webkit-transition: $thetransition;
  transition: $thetransition;
}

.animation-enable-long {
  -webkit-transition: $thetransition-2s;
  transition: $thetransition-2s;
}

a.chosen {
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2f855a;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: $thetransition;
    transition: $thetransition;
  }
}

a.constant {
  text-decoration: none;
  position: relative;
  -webkit-transition: $thetransition;
  transition: $thetransition;

  &:after {
    content: "";
    position: absolute;
    z-index: -1; 
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #d5e72c;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: $thetransition;
    transition: $thetransition;
  }

  &:hover:after {
    height: 100%;
  }

  &:hover {
    color: #22543d;
  }
} 

.button {
  -webkit-transition: $thetransition-bounce;
  transition: $thetransition-bounce;
  &:hover, &:focus, &:active {
    letter-spacing: 0.125rem;
  }
}

//Vue Bar (Custom Scrollbar)
.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
    background-color 100ms ease-out,
    margin 100ms ease-out,
    height 100ms ease-out;
  transition:
    background-color 100ms ease-out,
    margin 100ms ease-out,
    height 100ms ease-out;
  background-color: rgba(48, 244, 130, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 0px;
  border-radius: 20px;
  height: calc(100% - 20px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(216, 206, 61, 0.5);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(216, 206, 61, 0.5);
  margin-right: 0px;
  height: calc(100% - 20px);
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(216, 206, 61, 0.5);
  margin-right: 0px;
  height: calc(100% - 20px);
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(216, 206, 61, 0.5);
}

//TIMER STYLING
.timer {
  font-size: 20px;
  color: #fff;
  text-align:center;
  margin-top: 50px;

  .day, .hour, .min, .sec {
    font-size: 30px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    margin: 0 5px;
    .format {
      font-weight: 300;
      font-size: 14px;
      //@include margin-start(5);
      //display: inline-block;
      opacity: 0.8;
      width: 60px;
    }
  }
  .number{
    background: rgba(51, 51, 51, 0.53);
    padding: 0 5px;
    border-radius: 5px;
    display: inline-block;
    width: 60px;
    text-align: center;
  }
  .message {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
  .status-tag{
    width: 270px;
    margin: 10px auto;
    padding: 8px 0;
    font-weight: 500;
    color: #000;
    text-align: center;
    border-radius: 15px;
    &.upcoming{
      background-color: lightGreen;
    }
    &.running{
      background-color: gold;
    }
    &.expired{
      background-color: silver;
    }
  }
}