// Variables
@import 'variables';

// Tailwind CSS
@import "../../node_modules/tailwindcss/tailwind.css";
@import "../css/font.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body.closed{
  overflow: hidden;
}

.toasted > svg:first-child {
  margin-right: .7rem;
}

a.dynamic {
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2f855a;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: $thetransition;
    transition: $thetransition;
  }

  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.animation-enable {
  -webkit-transition: $thetransition-1s;
  transition: $thetransition-1s;
}

.animation-enable-short {
  -webkit-transition: $thetransition-short;
  transition: $thetransition-short;
}

a.chosen {
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2f855a;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: $thetransition;
    transition: $thetransition;
  }
}

a.constant {
  text-decoration: none;
  position: relative;
  -webkit-transition: $thetransition;
  transition: $thetransition;

  &:after {
    content: "";
    position: absolute;
    z-index: -1; 
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #d5e72c;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: $thetransition;
    transition: $thetransition;
  }

  &:hover:after {
    height: 100%;
  }

  &:hover {
    color: #22543d;
  }
} 

.button {
  -webkit-transition: $thetransition-bounce;
  transition: $thetransition-bounce;
  &:hover, &:focus, &:active {
    letter-spacing: 0.125rem;
  }
}